.ListItem {
  position: relative;
  padding: 0.875rem 0 0.375rem 0.5rem;
  background: #fff;
}

.ListItem:last-child:after {
  display: none;
}

.BouncingListItem {
  transition: transform 0.5s ease-out;
  position: relative;
  padding: 0.875rem 0 0.375rem 0.5rem;
  background: #fff;
}

.BouncingListItem:last-child:after {
  display: none;
}

.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #efefef;
  box-sizing: border-box;
}

.Wrapper {
  position: relative;
  border: 1px solid #e6e6e6;
  transition: max-height 0.5s ease;
  transform-origin: top;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.375rem;
}

.Wrapper:last-child {
  margin-bottom: 0;
}
